
/*carrusel inicio*/
.sliderr{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.sliderr ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: automatico 15s infinite alternate linear;

}
.sliderr li{
    width: 100%;
    list-style: none;

}
.sliderr img{
    width: 100%;
    height: 200px;
}
@media(min-width:768px){
    .sliderr img{
        height: 550px;
    }
}
@keyframes automatico{
    0% {margin-left:0; }
    20% {margin-left:0; }

    25% {margin-left:-100%; }
    45% {margin-left:-100%; }

    50% {margin-left:-200%; }
    70% {margin-left:-200%; }

    75% {margin-left:-300%; }
    100% {margin-left:-300%; }
}
/*end carrusel inicio*/

*{
    box-sizing: border-box;
}
.all-carrusel{
    display: flex;
    min-height: 83vh;
    
}

.container-slider{
    width: 90%;
    max-width: 910px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 3px #001a7a,
                0 10px 13px #ffffff;
    position: relative;

}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
    

}
.slider__section{
    width: 100%;

}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background:  rgb(227, 227, 227);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;

}
.slider__btn--right{
    right: 10px;

}

.carousel-text h1{
    position: absolute;
    bottom: 10px;
    left: 20%;
    transform: translateX(-50%);
    transform: translateY(-40%);
    color: #ffffff;
    padding: 20px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

/*start newContent*/
.allcards{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bodycc{
    background-color: rgb(255, 255, 255);
}
.cardd-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.ccard{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.ccard:hover{
    transform: translateY(-20px);
}
.ccard img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.ccard-content{
    padding: 20px;

}
.ccard-content h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.ccard-content p{
    font-size: 15px;
    color: #667;
    margin-bottom: 20px;
}
.ccard-button{
    display: inline-block;
    background-color: #667;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
/*end newContent*/